<!DOCTYPE html>
<html>
<head>
  <title>Meenuuz</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<!--[if lt IE 9]>
	<script scr="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<!--[endif]-->
</head>
<body>
	<header class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<nav>
			
					<ul class="nav pull-right">							
						<% if owner_signed_in? %>
						    <li><%= link_to "Uitloggen", destroy_owner_session_path, :method => :delete %></li>
						<% else %>
						    <li><%= link_to "Inloggen", new_owner_session_path %></li>
								<li><%= link_to "Registreren", new_owner_registration_path %></li>
						<% end %>					
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<div id="top">
		<h1><%= link_to "meenuuz", root_path %></h1>
		slimmer eten en drinken
	
	</div>
	
	<div class="container content">
		<% flash.each do  |key, value| %>
			<div class="alert alert-<%= key %>"><%= value %></div>
		<% end %>
		<%= yield %>
	</div>

</body>
</html>
